<h1 class="text-3xl font-bold">{{ title() }}</h1>
<p class="text-xl font-bold mb-5">{{ subtitle() }}</p>

@if (resource().isLoading()) {
<div class="flex justify-center items-center h-32">
  <span class="loading loading-spinner loading-lg"></span>
</div>
}


<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-2">
  @for (product of list(); track $index) {
  <product-card [product]="product" />
  }

  @empty {
  <p class="text-center text-gray-500">No hay productos disponibles.</p>
  }
</div>


<pagination [pages]="pages()"></pagination>
