<div class="card bg-base-100 w-full shadow-sm">
  <figure>
    <img [src]="product().images | productImage" [alt]="product().title" class="w-full h-48 object-cover" />
  </figure>

  <div class="card-body">
    <h2 class="card-title font-montserrat text-accent text-xl hover:underline"
      [routerLink]="['/product', product().slug]">

      {{ product().title }}

    </h2>

    <p class=" text-lg font-bold mb-2">
      S/{{ product().price }}
    </p>

    <p class="text-sm  mb-4">
      {{ product().description | slice: 0:70}}
    </p>

    <div class="card-actions justify-end">
      <a class="link link-accent" [routerLink]="['/product', product().slug] ">Ver producto</a>
    </div>

    <div class="card-actions justify-end">
      <ng-container *ngFor="let tag of product().tags">
        <span class="badge badge-outline">{{ tag }}</span>
      </ng-container>
    </div>
  </div>
</div>
